{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
        Log In to Call the Hero
        {% endblock head_title %}
    </title>
    {% block extra_head %}
    Use your CUNE credentials
    {% endblock extra_head %}
</head>

<body>
    <div>
        <ul>
            {% if user.is_authenticated %}
            {% url 'account_email' as email_url_ %}
            {% if email_url_ %}
            <li>
                <a href="{{ email_url_ }}">{% trans "Change Email" %}</a>
            </li>
            {% endif %}

            {% url 'usersessions_list' as usersessions_list_url_ %}
            {% if usersessions_list_url_ %}
            <li>
                <a href="{{ usersessions_list_url_ }}">{% trans "Sessions" %}</a>
            </li>
            {% endif %}
            {% url 'account_logout' as logout_url_ %}
            {% if logout_url_ %}
            <li>
                <a href="{{ logout_url_ }}">{% trans "Sign Out" %}</a>
            </li>
            {% endif %}
            {% else %}
            {% url 'account_login' as login_url_ %}
            {% if login_url_ %}
            <li>
                <a href="{{ login_url_ }}">{% trans "Sign In" %}</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock content %}
    {% block extra_body %}
    {% endblock extra_body %}
</body>

</html>