{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'login.css' %}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
        Log In to Call the Hero
        {% endblock head_title %}
    </title>
    {% block extra_head %}
    Use your CUNE credentials
    {% endblock extra_head %}
</head>

<body>
    <div>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>